<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Boolzap</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://kit.fontawesome.com/43febffcb7.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="root">
      <div class="wrapper">
        <div class="app">
          <div class="app-left">
            <div class="user">
              <div class="user-left">
                <div class="user-img">
                  <img src="https://icon-icons.com/icons2/1736/PNG/64/4043232-avatar-batman-comics-hero_113278.png" alt="">

                </div>
              </div>

              <div class="user-right">
                <i class="fas fa-redo-alt"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>
            <div class="search-bar">
              <i class="fas fa-search"></i>
              <input type="text" name="" value="" placeholder= "Cerca o inizia una nuova chat">
            </div>
                                          <!-- lista delle chat -->
            <div class="chat-list">
              <ul>
                <!-- al click la funzione changeChat cambia il valore di contactsIndex e lo pone uguale all'indice dell'elemento corrente -->
                <li @click="changeChat(index)" v-for="(contact, index) in contacts">
                  <div class="contact-img">
                    <img :src="contact.avatar" :alt="contact.name">

                  </div>
                  <div class="name-messages">
                    <p>{{contact.name}}</p>
                    <p>{{contact.messages[0].message}}</p>

                  </div>
                </li>
              </ul>
            </div>
          </div>

                                    <!-- sezione messaggi -->
                                    <!-- informazioni interlocutore -->
          <div class="app-right">
            <div class="chat-user">
              <div class="chat-user-img">
                <!-- l'avatar dipende dall'indice dell'elemento corrente -->
                <img :src="contacts[contactsIndex].avatar" alt="">
              </div>
              <div class="chat-user-info-left">
                <p>{{contacts[contactsIndex].name}}</p>
                <p>{{contacts[contactsIndex].messages[0].date}}</p>

              </div>

              <div class="chat-user-info-right">
                <i class="fas fa-search"></i>
                <i class="fas fa-paperclip"></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>
                                            <!-- sezione messaggi inviati e ricevuti -->
            <div class="chat-interface">
              <!-- qui il contatto preso in considerazione per stampare i messaggi è quello con indice pari al valore di contactsIndex -->
              <div v-for="message in contacts[contactsIndex].messages" :class="message.status">
                <p>{{message.message}}</p>
              </div>
            </div>
                                      <!-- text area messaggio -->
            <div class="chat-blank">
              <div class="chat-blank-left">
                <i class="far fa-smile"></i>
              </div>
              <div class="chat-blank-center">
                <input @keyup.enter="addMessage(contactsIndex), addReceived(contactsIndex)" v-model="newMessage.message" type="text" name="" value="" placeholder="Scrivi un messaggio">

              </div>
              <div class="chat-blank-right">
                <i class="fas fa-microphone"></i>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
