*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(0deg, rgba(218,219,213,1) 85%, rgba(0, 150, 136, 1) 85%);
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh
}

.wrapper{
  height: 1000px;
  width: 1400px;
}

.app{
  height: 100%;
  width: 100%;
  box-shadow: 1px 0px 26px -8px rgba(0,0,0,1);
}

.app:after{
  content: "";
  display: table;
  clear: both;
}

.app-left, .app-right{
  float: left;
  height: 100%;
}

.app-left{
  width: 30%;
  background-color: white;
}
                    /* sezione user */
.user{
  height: 70px;
  background-color: blue;
  display: flex;
}

.user-left{
  height: 100%;
  width: 50%;
  background-color: #EDEDED;
}

.user-img{
  height: 100%;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.user-right{
  height: 100%;
  width: 50%;
  background-color: #EDEDED;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-right: 1px solid lightgrey;
}
.user-right i{
  color: #919191;
  margin: 0 10px;
  font-size: 20px;
}
                        /* search bar */
.search-bar{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid lightgrey;
  background-color: #EDEDED;
}

.search-bar i{
  color: #919191;
}

.search-bar input{
width: 370px;
padding: 5px;
border: 0;
border-radius: 15px;
margin-left: 5px;
}
                  /* lista chat */
.chat-list{
  padding: 10px;
}

.chat-list ul{
  list-style-type: none;
}

.chat-list ul li{
  border-bottom: 1px solid lightgrey;
}
.contact-container{
  display: flex;
}

.name-messages{
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name-messages p:first-of-type{
  font-size: 20px;
  font-weight: bold;
}
                    /* right section */
.app-right{
  width: 70%;
  background-color: lightgreen;
}

.chat-user{
  height: 70px;
  width: 100%;
  display: flex;
  background-color: #EDEDED;
}

.chat-user-img{
  padding-left: 10px;
}

.chat-user-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.chat-user-info p:first-child{
  font-size: 20px;
  font-weight: bold;
}

.chat-user-info-left{
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.chat-user-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-user-info-left p:first-of-type{
  font-size: 20px;
  font-weight: bold;
}

.chat-user-info-right{
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.chat-user-info-right i{
  margin-right: 20px;
  font-size: 20px;
  color: #919191;
}
              /* interfaccia chat */
.chat-interface{
  height: calc(100% - 140px);
  width: 100%;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/12ee6265-e947-474a-a378-6d78ab0d1117/d8fr7iz-082cab4c-3f87-47e1-b2f0-efdb504372e5.jpg/v1/fill/w_1024,h_576,q_75,strp/super_hero_whatsapp_background_by_x_ama_d8fr7iz-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD01NzYiLCJwYXRoIjoiXC9mXC8xMmVlNjI2NS1lOTQ3LTQ3NGEtYTM3OC02ZDc4YWIwZDExMTdcL2Q4ZnI3aXotMDgyY2FiNGMtM2Y4Ny00N2UxLWIyZjAtZWZkYjUwNDM3MmU1LmpwZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.vMsSrJL87xcHSN4_yT8cSlEGqymaknC5rvamCRrnlGU);
}

.received, .sent{
  max-width: 200px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.received{
  margin: 10px 0;
  border-radius: 10px;
  background-color: white;
}

.sent{
  margin: 10px 0;
  border-radius: 10px;
  align-self: flex-end;
  background-color: #DCF8C6;
}

.chat-blank{
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EDEDED;
}

.chat-blank-left, .chat-blank-right{
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-blank-center{
  width: calc(100% - 100px);
  display: flex;
  justify-content: center;
}

.chat-blank-center input{
  width: 879px;
  padding: 10px;
  border-radius: 15px;
  border: 0;
}

.chat-blank-left i, .chat-blank-right i{
  font-size: 20px;
  color: #919191;
}

.false{
  display: none;
}
